<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kele.woodpecker.project.auto.mapper.AutoCaseInfoMapper">
    <resultMap type="autoCaseInfo" id="autoCaseInfoResult">
        <id property="id" column="id"/>
        <result property="caseBaseId" column="case_base_id"/>
        <result property="mockName" column="mock_name"/>
        <result property="reqParam" column="req_param"/>
        <result property="respData" column="resp_data"/>
        <result property="caseAssertion" column="case_assertion"/>
        <result property="caseRealAssertion" column="case_real_assertion"/>
        <result property="caseStatus" column="case_status"/>
        <result property="createTime"   column="create_time"  />
        <result property="updateTime"   column="update_time"  />
    </resultMap>
    <insert id="insertAutoCaseInfo" parameterType="autoCaseInfo">
        insert into auto_case_info (case_base_id, mock_name,req_param, resp_data, case_assertion, case_real_assertion, case_status,
        create_time,update_time)
        values (#{caseBaseId},#{mockName}, #{reqParam}, #{respData}, #{caseAssertion}, #{caseRealAssertion}, #{caseStatus},
        #{createTime},#{updateTime})
    </insert>

    <sql id="selectAutoCaseInfo">
        select case_base_id,
        req_param,
        resp_data,
        case_assertion,
        case_real_assertion,
        case_status,
        create_time,
        update_time
        from auto_case_info
    </sql>

    <select id="selectAutoCaseInfoByBaseId" resultMap="autoCaseInfoResult">
        <include refid="selectAutoCaseInfo"/>
        where case_base_id=#{caseBaseId} limit 1
    </select>

    <select id="selectAutoCaseInfoById" resultMap="autoCaseInfoResult">
        <include refid="selectAutoCaseInfo"/>
        where id=#{id}
    </select>

    <select id="selectAutoCaseInfoList" resultMap="autoCaseInfoResult">
        <include refid="selectAutoCaseInfo"/>
        where case_base_id=#{caseBaseId}
        order by create_time desc limit 100
    </select>
</mapper>